{% extends 'layout/admin.twig' %}


{% block content %}
<a href="/admin/allarticles">Статьи</a> / Добавить новую статью
<hr>
<div class="row">
     <div class="col-md-8">
                     <section class="material_open">
                            <div class="panel panel-default">
                                      <div class="panel-heading">
        
                                      <h4>Добавить новую статью</h4>
                                       </div>

{#  #}                                       
                                          <div class="panel-body">
                                                <form action="/admin/addarticle" method="post" enctype="multipart/form-data" id="addarticle">

                                                  <input type="hidden" name="artfirst" value="1" />
                                                  <input type="hidden" name="arthow" value="0" />
                                                  <input type="hidden" name="artfour" value="0" />                                                  
                                                  <ul class="text_data">
                                                     <li><span>Заголовок статьи *</span>
                                                              <div class="text">
                                                                   <span class="error_msg">Укажите Заголовок статьи</span>
                                                                   <input type="text" name="title_article" class="required" />

                                                             </div>
                                                      </li>

                                                  <li class="separator"></li>

                                                      <li><span>Короткий текст *<br /> (для главной)</span>
                                                          <div class="textarea">
                                                              <span class="error_msg">Короткий текст нужен для Главной страницы</span>
                                                              <textarea name="short_article" class="required tiny"></textarea>
                                                         </div>
                                                     </li>

                                                     <li class="separator"></li>

                                                      <li><span>Полный текст статьи *</span>
                                                          <div class="textarea">
                                                              <span class="error_msg">Ну а как же - текст здесь главный!</span>
                                                              <textarea name="full_article" class="required tiny"></textarea>
                                                         </div>
                                                     </li>

                                                     <li class="separator"></li>                                                     
                                                      <li class="url_picture"><span>Иллюстрации к статье</span>
                                                                <ul  class="empty photos_list"></ul>
                                                                <div class="add_photo_btn" data-form-id="url_picture"><i class="fa fa-plus"></i><span class="span_add_photo_btn"></span></div>

                                                     </li>  

                                                  </ul>
                                                  <div><input type="button" value="Добавить статью" data-form="addarticle" class="checker" /> <a href="/admin/allarticles">Отмена</a></div>


                                                 </form> 
                                                <form action="/admin/ajaxaddphoto" method="post" id="url_picture" class="form_photos">
                                                           <input type="file" class="input_file_hidden" name="sample" />
                                                          
                                               </form>                                                                  

                                         </div>
                                 </div>   	



			        </section>
     </div> 


{% endblock content %}