{% extends 'layout/help.twig' %}


{% block content %}

                 <h4>Готовые работы</h4>
                 <p>Галерея готовых работ представлена на странице <a href="/portfolio">"НАШИ РАБОТЫ"</a>. Попасть на страницу можно по клику на ссылку "Все наши работы" на Главной странице:</p> 
                 <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/1.jpg" alt="" /></div>

                 <p>Управлять работами в Портфолио можно в разделе административной панели сайта <a href="/admin/folios">Портфолио (все работы)</a>:</p>
                  <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/2.jpg" alt="" /></div>

                  <p>Для добавления новой работы перейдите по ссылке <a href="/admin/addfolio">Добавить новую работу</a></p>
                  <p>Для редактирования существующей работы - выберите нужную работу в <a href="/admin/folios">списке работ</a>.</p>
                  <div class="separator"></div>

                  <p>Обязательными полями для добавления работы являются:
                           <ul>
                                 <li>Наименование работы</li>
                                 <li>Группа</li>
                                 <li>Фотографии</li>
                           </ul>
                  </p>
                   <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/3.jpg" alt="" /></div>
                   <p>Группы используются для объединения работ по темам. Например, "Ванные", "Гостинные", и т.д. На сайте представлены на странице <a href="/portfolio">"НАШИ РАБОТЫ"</a>:</p>

                   <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/4.jpg" alt="" /></div>

                   <p>Управление группами на Панели управления сайта осуществляется в разделе: <a href="/admin/groups">Группы работ</a>:</p>
                   <p>Подробнее управление группами описано в разделе <a href="/admin/help/groups">Группы</a> данной помощи.</p>
                   <p>Для работы может быть добавлено не менее одной фотографии. В группе фотографий должна быть выбрана одна фотография (по умолчанию - это первая добавленная), которая будет представлена в списке работ на странице <a href="/portfolio">"НАШИ РАБОТЫ"</a>:</p>
                   <p></p>
                   <p></p>

{% endblock content %}