{% extends 'layout/help.twig' %}


{% block content %}

                <h4>Готовые работы</h4>
                 <div class="alert alert-warning" role="alert"><strong>Обратите внимание!</strong> Все изменения вступают в силу только после сохранения данных. Для этого необходимонажать на кнопку "Обновить работу" внизу страницы после формы.</div>
                 <p>Галерея готовых работ представлена на странице <a href="/portfolio">"НАШИ РАБОТЫ"</a>. Попасть на страницу можно по клику на ссылку "Все наши работы" на Главной странице:</p> 
                 <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/1.jpg" alt="" /></div>

                 <p>Управлять работами в Портфолио можно в разделе административной панели сайта <a href="/admin/folios">Портфолио (все работы)</a>:</p>
                  <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/2.jpg" alt="" /></div>

                  <p>Для добавления новой работы перейдите по ссылке <a href="/admin/addfolio">Добавить новую работу</a></p>
                  <p>Для редактирования существующей работы - выберите нужную работу в <a href="/admin/folios">списке работ</a>.</p>
                  <div class="separator"></div>

                  <p>Обязательными полями для добавления работы являются:
                           <ul>
                                 <li>Наименование работы</li>
                                 <li>Группа</li>
                                 <li>Фотографии</li>
                           </ul>
                  </p>
                   <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/3.jpg" alt="" /></div>
                   <p>Группы используются для объединения работ по темам. Например, "Ванные", "Гостинные", и т.д. На сайте представлены на странице <a href="/portfolio">"НАШИ РАБОТЫ"</a>:</p>

                   <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/4.jpg" alt="" /></div>

                   <p>Управление группами на Панели управления сайта осуществляется в разделе: <a href="/admin/groups">Группы работ</a>:</p>
                   <p>Подробнее управление группами описано в разделе <a href="/admin/help/groups">Группы</a> данной помощи.</p>
                   <p>Чтобы добавить фотографию, достаточно кликнуть по полю с плюсом "+" и в появившемся окне выбрать нужную фотографию:</p>
                   <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/5.jpg" alt="" /></div>
                   <p>Для Работы может быть добавлено не менее одной фотографии. В группе фотографий должна быть выбрана одна Главная фотография (по умолчанию - это первая добавленная), которая будет представлена в списке работ на странице <a href="/portfolio">"НАШИ РАБОТЫ"</a>:</p>
                   <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/6.jpg" alt="" /></div>
                   <p>Чтобы удалить фотографию, нужно навести курсор на загруженное изображение и кликнуть по появившемуся крестику.</p>
                   <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/7.jpg" alt="" /></div>
                   <p>Остальные данные полноценно оформят страницу описания Работы, но не являются обязательными.</p>
                   <p>После внесения всех необходимых данных необходимо нажать кнопку "Добавить работу", чтобы сохранить все внесенные данные. В противном случае изменения сохранены не будут.</p>
                   <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/8.jpg" alt="" /></div>
                   <p>Чтобы увидеть добавленную Работу необходимо перегрузить страницу <a href="/portfolio">"НАШИ РАБОТЫ"</a> (или просто пройдите еще раз по данной ссылке).</p>
                   <p>В разделе "Материалы проекта" можно добавить материалы, которые были использованы в данной работе:</p>
                   <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/9.jpg" alt="" /></div>
                   <p>На сайте на странице проекта материалы будут выведены как фотография образца материала с возможностью открытия окна с характеристиками этого материала при клике:</p>
                   <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/10.jpg" alt="" /></div>
                   <p>С другой стороны в окне материала представлен список ссылок на проекты, в которых указан данный материал:</p>
                   <div class="img"><img  class="img-responsive" src="/assets/admin/img/help/11.jpg" alt="" /></div>
                   <p></p>
                   <p></p>
                   <p></p>
                   <p></p><p></p>

{% endblock content %}