{% extends 'layout/help.twig' %}


{% block content %}

                <h4>Инструкции по управлению сайтом</h4>
                <ul>
                       <li><a href=#>Главная страница</a></li>
                       <li><a href="/admin/help/folio">Готовые работы</a></li>
                       <li><a href="groups.html">Группы (готовых работ)</a></li>
                       <li><a href=#>Отзывы</a></li>
                       <li><a href=#>Статьи</a></li>
                       <li><a href=#>Материалы</a></li>
                       <li><a href=#>Контактные данные</a></li>
                </ul>

{% endblock content %}