
<?php $material = $this->material; if ($material !=null){
     $url = (($material['url'] != '') && $material['url'] != null) ? "/assets/application/samples/".trim($material['url']) : "/assets/application/img/no_photo.png";
  ?>

   <dl>
           <dt class="col-lg-6 col-md-6 col-sm-10 col-xs-11" style="background:url('<?php echo $url;?>');"></dt>
           <dd class="col-lg-6 col-md-6 col-sm-10 col-xs-11">
               <ul> 
                   <li><strong>Наименование</strong><span><?php echo $material['name_material'] ?></span></li>
                   <li><strong>Артикул</strong><span><?php echo $material['articul'] ?></span></li>
                   <li class="separator"></li>
                   <li><strong>Производитель</strong><span><?php echo $material['manufacturer'] ?></span></li>
                   <li><strong>Коллекция</strong><span><?php echo $material['collection'] ?></span></li>
                   <li class="separator"></li>
                   <li><strong>Цвет</strong><span><?php echo $material['color'] ?></span></li>
                   <li><strong>Текстура</strong><span><?php echo $material['texture'] ?></span></li>
                   <li class="separator"></li>
                   <li><strong>Цена</strong><span>$ <?php echo $material['price_material'] ?> за погонный метр</span></li>
                   <!-- <li><strong>sample(for trace)</strong><span><?php echo $material['sample'] ?></span></li> -->
                </ul>            


           </dd>
  </dl>
       <?php if ($this->analogs !=null){?>
             <h5>Похожие материалы</h5>
            <div class="analogs">
                      <?php foreach ($this->analogs as $item){ 
                             $url = (($item['url'] != '') && $item['url'] != null) ? "/assets/application/samples/".trim($item['url']) : "/assets/application/img/no_photo.png";
                        ?>

                             <dl data-sample="<?php echo $item['id'] ?>">
                                  <dt class="col-lg-6 col-md-6 col-sm-10 col-xs-11" ><?php echo $item['name_material'] ?></dt>
                                  <dd class="col-lg-6 col-md-6 col-sm-10 col-xs-11" style="background:url('<?php echo $url;?>') no-repeat center center;">
                                  <span>$<?php echo $item['price_material'] ?></span>
                                </dd>
                           </dl>

                    <?php } ?> 
         </div>
       <?php } ?> 

<?php }?>


