{% extends 'layout/layout_error.twig' %}


{% block content %}
<section class="offset-header">
          <div class="container">

                   <h1>{{ translate('A 403 error occurred!') }}</h1>
                   
                   <p>Something went wrong...</p>
                   <p>Please, visit our <a href="/">Homepage</a></p>


         </div>
</section>
    
{% endblock content %}