{% extends 'layout/layout_error.twig' %}


{% block content %}
                  <h1 class="large mb-25">403 Ошибка</h1>
                    <p class="lead content-wd650">Страницы, которую вы ищите, для вас недоступна.
                    <br />Повторите попытку позже.</p>
                    <br />
                    <a href="/" class="btn btn-md btn-white"><i class="fa fa-angle-left left"></i>Вернуться на главную</a>
    
{% endblock content %}