 
{% extends 'layout/layout_error.twig' %}


{% block content %}
                  <h1 class="large mb-25">404 Ошибка</h1>
                    <p class="lead content-wd650">Сожалеем, похоже, вы заблудились.<br />Страницы, которую вы ищите, пока не существует.</p>
                    <br />
                    <a href="home.html" class="btn btn-md btn-white"><i class="fa fa-angle-left left"></i>Вернуться на главную</a>
    
{% endblock content %}