/*  Accordion Tab    ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.accordion-section {
    border-top: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}

    .accordion-section:last-child {
        border-bottom: 1px solid #f1f1f1;
    }

.accordion-title {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 20px 20px;
    margin: 0px;
}

    .accordion-title.active {
        /*background: #fafafa;*/
        color: #e6ae49;
    }

    .accordion-title:before {
        content: "\f105";
        display: block;
        font-family: "FontAwesome",sans-serif;
        position: absolute;
        right: 18px;
        font-weight: 400;
    }

    .accordion-title.active:before {
        content: "\f107";
    }

.accordion-content.defualt-hidden {
    display: none;
    margin: 0;
}

.accordion-content {
    padding: 0 20px 10px;
}

/*------------------*/
.preview_action{float:left;width:100%;position:relative;}
.preview_action .sales{margin:0;position:relative;top:0;left:0;}
.code_action{float:left;width:100%;}
.code_action textarea{width:100%;height:200px;}
.clear{clear:both;}

.edit{
    position:relative;
}

.edit.hover::before{/*:hover*/

    content:" ";
    width:110%;
    height:110%;
    display:block;
    position:absolute;
    top:-5%;
    left:-5%;
    background:none;
    border:2px solid yellow ;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    cursor:pointer;
}
.textedit{position:absolute;
    top:-5%;
    left:-5%;
    background:#fff;
    border:2px solid yellow ;
      width:110%;
   z-index:100;
border-radius: 2px;
box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);}

.textedit textarea{ color: #000;
    font-size: 12px;
    font-weight: normal;padding: 3px;
    width: 100%;line-height: 14px;
    background: #fff;
    border:none;
}

/*-----------------------------------------*/
.radio-check{width:20px;height:20px;border:1px solid #ccc;position:relative;cursor:pointer;}

.radio-check-hover::after{position:absolute;width:32px;height:32px;top:-6px;left:-6px;background:#f1f1f1;display:block;content:" ";z-index: -1;border-radius: 2px;}
.radio-check input{display:none;}
.radio-check-checked::before{position:absolute;width:12px;height:12px;top:3px;left:3px;background:gray;content:" ";}

.accordion-title{float:left; width:100%;padding-bottom:20px;margin-bottom:20px;}
.accordion-title div,
.accordion-title span{float:left;}
.accordion-title span{font-size: 1.2em;margin-left:20px;padding-left:20px;display:block;width:80%;padding-top:5px;line-height: 1.2em;}

.code_action{display:none;}
