/*  Accordion Tab    ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.accordion-section {
    border-top: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}

    .accordion-section:last-child {
        border-bottom: 1px solid #f1f1f1;
    }

.accordion-title {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 20px 20px;
    margin: 0px;
}

    .accordion-title.active {
        /*background: #fafafa;*/
        color: #e6ae49;
    }

    .accordion-title:before {
        content: "\f105";
        display: block;
        font-family: "FontAwesome",sans-serif;
        position: absolute;
        right: 18px;
        font-weight: 400;
    }

    .accordion-title.active:before {
        content: "\f107";
    }

.accordion-content.defualt-hidden {
    display: none;
    margin: 0;
}

.accordion-content {
    padding: 0 20px 10px;
}

/*------------------*/
.preview_action{float:left;width:100%;position:relative;}
.preview_action .sales{margin:0;position:relative;top:0;left:0;}
.code_action{float:left;width:100%;}
.code_action textarea{width:100%;height:200px;}
.clear{clear:both;}

.edit{
    position:relative;
}

.edit.hover::before{/*:hover*/

    content:" ";
    width:110%;
    height:110%;
    display:block;
    position:absolute;
    top:-5%;
    left:-5%;
    background:none;
    border:2px solid yellow ;
    border-radius: 2px;
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);*/
    cursor:text;
}
.textedit{position:absolute;
    top:-5%;
    left:-5%;
    background:#fff;
    border:2px solid yellow ;
      width:110%;
   z-index:100;
border-radius: 2px;
box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);}

.textedit textarea{ color: #000;
    font-size: 12px;
    font-weight: normal;padding: 3px;
    width: 100%;line-height: 14px;
    background: #fff;
    border:none;
}

/*-----------------------------------------*/
.radio-check{width:20px;height:20px;border:1px solid #ccc;position:relative;cursor:pointer;}

.radio-check-hover::after{position:absolute;width:32px;height:32px;top:-6px;left:-6px;background:#f1f1f1;display:block;content:" ";z-index: -1;border-radius: 2px;}
.radio-check input{display:none;}
.radio-check-checked::before{position:absolute;width:12px;height:12px;top:3px;left:3px;background:gray;content:" ";}

.accordion-title{float:left; width:100%;padding-bottom:20px;margin-bottom:20px;}
.accordion-title div,
.accordion-title span{float:left;}
.accordion-title span{font-size: 1.2em;margin-left:20px;padding-left:20px;display:block;width:80%;padding-top:5px;line-height: 1.2em;}

.code_action{display:none;}

/*-----------------------------------------*/
.filter_line h4{    float: left;
    margin-bottom: 0;
    margin-right: 20px;
    margin-top: 24px;}
.filter_line{background: #eee none repeat scroll 0 0;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;}
.filter_line div{float: left;margin-right: 10px;width:17%;}
.filter_line div label{    color: #999;
    float: left;
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 0;
    text-transform: uppercase;
    width: 100%;}
.filter_line div input,
.filter_line div select{float: left;width:100%;}


.material_list_container{height: 377px;overflow:auto;border:1px solid #ddd;position:relative;}
#more{height:20px;width:100%;background:transparent;text-align: center;color:#337ab7;cursor: pointer;}
#more i{display:none;margin-right: 10px;font-size:0.9em;line-height:1.6em;}
#more.visible{display:block;background:#ddd;}
#more.visible i{display:inline;}
.material_list{}
.material_list li{width:100%;height:76px; border:none;border-top: 1px solid #ddd;}
.material_list li:first-child{border-top:none;}
.material_list li a{float:left;width:80%;}
.material_list li.confirm_deleting_state{background:#ddd;}
.material_list li small{float:left;width:10%;margin-right:20px;text-align: right;line-height: 2.9em;}
.material_list li span{float: left;line-height: 2.5em;}
.material_list li span.check{margin-right:20px;margin-top:10px;}
.material_list li span.sample{float:left;display:block;width:50px;height:50px;margin-right: 20px;background-repeat:no-repeat;background-position: center center;background-size: cover;}

.material_list li span.del_material_ajax{float:right;display:block;height: 31px;padding: 4px;width: 29px;border:1px dashed #dadada;cursor: pointer;}
.material_list li span.del_material_ajax i{font-size: 1.7em;float: left;}

.material_list li span.del_link{float:right;display:block;height: 31px;padding: 4px;width: 29px;border:1px dashed #dadada;cursor: pointer;}
.material_list li span.del_link i{font-size: 1.7em;float: left;}

#list_for_deleting{width:100%;float:left;list-style:none;padding-left:40px;padding-right:40px;height:280px;overflow:auto;}
#list_for_deleting li{width:100%;float:left;list-style:none;padding-bottom:10px;border-bottom:1px solid #ddd;margin-bottom:10px;}
#list_for_deleting li a{float:left;width:80%;}
#list_for_deleting li small{float:left;width:10%;margin-right:20px;text-align: right;line-height: 2.9em;}
#list_for_deleting li span{float: left;line-height: 2.5em;}
#list_for_deleting li span.sample{float:left;display:block;width:50px;height:50px;margin-right: 20px;background-repeat:no-repeat;background-position: center center;background-size: cover;}

#list_for_pricing{width:100%;float:left;list-style:none;padding-left:40px;padding-right:40px;height:280px;overflow:auto;}
#list_for_pricing li{width:100%;float:left;list-style:none;padding-bottom:10px;border-bottom:1px solid #ddd;margin-bottom:10px;}
#list_for_pricing li a{float:left;width:80%;}
#list_for_pricing li small{float:left;width:10%;margin-right:20px;text-align: right;line-height: 2.9em;}
#list_for_pricing li span{float: left;line-height: 2.5em;}
#list_for_pricing li span.sample{float:left;display:block;width:50px;height:50px;margin-right: 20px;background-repeat:no-repeat;background-position: center center;background-size: cover;}

.loaded_counter_line{float:left;width:100%;}
.loaded_counter_line div{float:left;margin-right: 20px;    margin-bottom: 15px;margin-top: 15px;}
.loaded_counter_line em{float:left;margin-right: 20px;    margin-bottom: 15px;margin-top: 15px;}
.loaded_counter_line div .loaded_count{font-weight:bold;}


.clear{clear:both;}
.group_action{width:100%;height:40px;border-bottom:1px solid #aaa;margin-top:20px;}
.group_action div{float: left;margin-right: 20px;}
.group_action .action{margin-left:40px;border-left:1px solid #aaa;padding-left:40px;}
.group_action .action span{float:left;margin-left:30px;}

.group_action .check_all{}
.group_action .check_all i{font-size:2em;margin-left:17px;float:left;margin-top:-10px;}
.group_action .check_all label{float: left;margin-left:10px;}
.group_action .check_all label input{margin-right:10px;float: left;}
.group_action .check_all label span{float: left;margin-top: 3px;}

/*-----------------------------------------*/
.material_open{position:relative;}
.material_open .text_data{float:left;width:100%;padding-right:0;list-style: none;padding-left: 0;}
.material_open .text_data li{list-style: none;padding: 0;margin: 0;margin-bottom: 10px;float: left;width:100%;}
.material_open .text_data li.separator{border-top:1px solid #ddd;height:10px;}
.material_open .text_data li span{float:left;width:200px;font-weight:bold;}
.material_open .text_data li .editable{float:left;}
.material_open .sample_data{/*background: #fff none repeat scroll 0 0;margin-right: 10px;margin-top: 10px;padding: 15px;position: absolute;right: 0;top: 63px;width: 200px;*/}
.material_open .sample_data em{display: block;width:100px;height:100px;background-position:center center;background-size: cover;background-repeat: no-repeat;}
.material_open .sample_data *{float:left;}
.material_open .text_data li.sample_data span{width:auto; margin-top: 79px;}
.material_open .text_data li.sample_data div{width:221px;margin-left:10px; margin-top: 82px;}
.material_open .text_data li.sample_data div label{width:100%;display: block;float: left;}
.material_open .text_data li.sample_data div input{width:100%;display: block;float: left;}
.material_open .text_data li.sample_data div.local_link {width: auto;margin-top: 79px;}

 
.material_open a.del_material{margin-top:-34px;float:right;display:block;height: 31px;padding: 4px;width: 29px;border:1px dashed #dadada;cursor: pointer;}
.material_open a.del_material i{font-size: 1.7em;float: left;}

.material_open .panel-body{position:relative;}
.material_open .panel-body .sample_data{position:absolute;right:11px;top:17px;background:#fff;width:150px;height:150px;padding:25px;}
.material_open .panel-body .sample_data .edit_sample{display:block;width:120px;height:120px;border:1px dashed #ddd;padding:10px;background:url('/assets/application/img/no_photo.png') no-repeat center center;}
.material_open .panel-body .sample_data span{font-weight:bold;display:block;margin-top:-25px;}

.editable{padding:4px;border:1px solid transparent;margin-top:-5px;position:relative;max-width: 500px;max-height: 170px;}
.editable .editblock{display:none;color:#337ab7;position:absolute;top:0;left:0;width:100%;height:100%;}
.editable  i{font-size: 1.4em;position: absolute;right: -26px;top: 7px;display:none;color:#337ab7;}
.editable .editblock .editarea{position:absolute;top:0;left:0;width:100%;height:100%;border:none;padding:1px;}
.editable .editblock .editarea input,
.editable .editblock .editarea textarea{position:absolute;top:0;left:0;width:100%;height:100%;border:none;padding:3px;padding-left: 4px;}
.editable .editblock .editarea textarea{position:relative;height:164px;width:497px;padding:10px;background:#fff;padding-top:4px;padding-left:4px;}

.textarea .editopen{width:504px;height:174px;} 


.editablehover{border-color:#337ab7;}
.editablehover i{display:block;}
.editopen{color:navy;border:1px solid navy;}
.editopen .editblock{display:block;}
.editopen i{display:block;color:navy;}

.material_open .text_data li .editable span{font-weight: normal;border-bottom: 1px dashed #337ab7;width: auto;}
.material_open .text_data li .editablehover span{border-color: transparent;}


.material_open .text_data li.textarea .editable span{border: 1px dashed #337ab7;max-height: 163px;overflow: hidden;}

.material_open .text_data li.textarea .editablehover span{border-color: transparent !important;}

.selectable{padding:4px;border:1px solid transparent;margin-top:-5px;position:relative;float:left;}
.selectable .editblock{display:none;color:#337ab7;position:absolute;top:0;left:0;width:100%;height:100%;}
.selectable  i{font-size: 1.4em;position: absolute;right: -26px;top: 7px;display:none;color:#337ab7;}
.selectable .editblock .editarea{position:absolute;top:0;left:0;width:100%;height:100%;border:none;padding:1px;}
.selectable .editblock .editarea input{position:absolute;top:0;left:0;width:100%;height:100%;border:none;padding:3px;padding-left: 4px;}


.selectablehover{border-color:#337ab7;}
.selectablehover i{display:block;}
.selectopen{color:navy;border:1px solid navy;}
.selectopen .editblock{display:block;}
.selectopen i{display:block;color:navy;}

.material_open .text_data li .selectable span{font-weight: normal;    border-bottom: 1px dashed #337ab7;width: auto;}
.material_open .text_data li .selectablehover span{border-color: transparent;}
.material_open .text_data li .selectopen span{border-bottom: transparent;}

#material_list_open_window{}
.analog_list_window {height:400px;overflow:auto;}
.analog_list_window li{list-style:none;width:130px;height:125px;position:relative;float:left;margin-bottom:20px; margin-right:20px;border:1px solid #ddd;padding:10px;}
.analog_list_window li div{ width:100px;height:100px; }
.analog_list_window li div small,
.analog_list_window li div span{background:green;color:#fff;}

.analog_list_window li input{position:absolute;right:0; bottom:0;}

.local_link{border-bottom: 1px dashed #337ab7;cursor:pointer;display: inline;}

#analogs_list {border: 1px solid #ddd;float: left;margin-right: 10px;margin-top: -10px;padding: 10px 0 0 10px;width: 283px;}
#analogs_list.empty{display: none;}
#analogs_list li{border: medium none;float: left;height: 70px;list-style: outside none none;margin-bottom: 20px;margin-right: 20px;padding: 0;position: relative;width: 70px;border:1px dashed #ddd;}
#analogs_list li div{width:50px;height:50px;background-repeat:no-repeat;background-position: 0 0;background-size: cover;position:absolute;top:10px;left:10px;}
#analogs_list li div small{position:absolute;top:-28px;display:none;}
#analogs_list li div span{background:none;top:-18px;position:absolute;top:-18px;display:none;}
#analogs_list li input{display:none;}
#analogs_list li .remove_analog{display:none;position:absolute;right: 0;top: -2px;width:10px;height:10px;cursor:pointer;}
#analogs_list li .remove_analog i{display:block;}
#analogs_list li.hover .remove_analog{display: block;}

#left_panel{list-style: none;}
#left_panel .separator{border-bottom:1px solid #ddd;margin-bottom: 20px;margin-top:20px;}

#sample_modal .tabs_area{width:70%;float:left;}
#sample_modal .loaded_img{width:29%;float:right;border-left:1px solid #ddd;height:100%;}


#sample_modal .modal-body{height: 400px;}
#sample_modal .modal-body .ui-tab-content{height: 328px;}
#sample_modal #list_sample{list-style: none;float:left;width:100%;height:248px;overflow: auto;}
#sample_modal #list_sample li{list-style: none;float:left;width:70px;height: 70px;position:relative;margin-right: 20px;border:1px dashed #ddd;margin-bottom: 20px;}
#sample_modal #list_sample li div{width:50px;height:50px;position: absolute;top:10px;left:10px;background-position:center center;background-repeat: no-repeat;background-size: cover;}
#sample_modal #list_sample li span{display: block;position:absolute;width: 10px;height:10px;bottom: 0;right:0;}
#sample_modal #list_sample li span.url{display:none;}

#sample_modal #list_sample.with_name li{width:100%;}
#sample_modal #list_sample.with_name li span.url{display:block;}

#sample_modal .loaded_img .img_container{width:120px;height: 120px;margin:20px auto;border:1px dashed #ddd;position:relative;overflow: hidden;}
#sample_modal .loaded_img .img_container div{width:100px;height:100px;position: absolute;top:10px;left:10px;background-position:center center;background-repeat: no-repeat;background-size: cover;}
#sample_modal .loaded_img .img_container div .img_loader{position:absolute;top:0;left: 0;background:#fff url('/assets/application/img/loading.GIF') no-repeat center center;display:none;}
#sample_modal .loaded_img.loading .img_container div .img_loader{display: block;}
#sample_modal .loaded_img #img_msg {width: 73%;margin:20px auto;font-size: 0.9em;line-height: 1.2em;text-align:left;}

#sample_modal .new_upload_img_container{width:350px;height:200px;border:1px solid #ddd;}
#sample_modal .new_upload_img_container img{max-width:100%;}


.title_page{float:left;margin-top:0;}
.right_link .plus{font-size: 2em;line-height:2em; }

.right_link{float: left;font-size: 1.5em;line-height: 2em;text-align: right;width: 753px;}

.count_text{margin-top:15px;margin-bottom:15px;}
.count_text .count{text-transform:italic;font-weight:bold;}

#crumbs{background: #337ab7 none repeat scroll 0 0;color: #fff;font-size: 1.2em;height: 55px;line-height: 57px;padding-left: 20px;float:left;width:100%;}
#crumbs div{float: left;}
#crumbs span{font-weight: bold;font-size:1.3em;}
#crumbs em{font-size:2em;float:left;margin-left:10px;margin-right:10px;}


#crumbs.a{background: #337ab7 none repeat scroll 0 0;color: #fff;font-size: 1.2em;height: 55px;line-height: 57px;padding-left: 20px;float:left;width:100%;}
#crumbs.a a div{float: left;height:100%;}
#crumbs.a span{font-weight: bold;font-size:1.3em;}
#crumbs.a em{font-size:2em;float:left;margin-left:10px;margin-right:10px;}
#crumbs.a a{color:#fff;display:block;float:left;height:43px;border-bottom: 1px dashed #fff;}
#crumbs.a i{float:left;margin-right: 20px;margin-top: 20px;}

#clear_filter{background: red none repeat scroll 0 0;color: #fff;float: right;font-size: 0.9em;margin-top: 18px;padding: 4px;width: auto;cursor:pointer;}
#clear_filter i{margin-right:4px;}

.textures{}
.textures ul{list-style:none;}
.textures li{width:100%;margin-bottom:15px;padding-bottom:15px;float:left;list-style: none;border-bottom:1px solid #ddd;}
.textures li.add{}
.textures li.add .form_to_add{display:none;}
.textures li.add span{color:#337ab7;font-weight:bold;cursor: pointer;}
.textures li .editable{float:left;}
.textures li .editable span {border-bottom: 1px dashed #337ab7;font-weight: normal;width: auto;}
.textures li .editablehover span {border-color:transparent;}
.textures li.adding .form_to_add{display:block;}
.textures li.add .form_to_add form{float:left;width:100%;}
.textures li.add .form_to_add form div{float:left;margin-right:40px;}


.photos_list{display:block;float:left;border:1px dashed #ddd;padding:0;margin:0;margin-right:30px;max-width:540px;}
.photos_list li{position:relative;float:left;padding: 5px 17px !important;width: 134px !important;height:100px !important;margin-bottom:0px !important;background:url('/assets/application/img/loading.GIF') no-repeat center center;}
.photos_list li span{position:absolute;top:0;right:0;display:none;width:5px !important;float:none !important;height: 22px;right: -1px;top: -6px;width: 19px !important;cursor:pointer;}
.photos_list li span i{font-size:22px;}
.photos_list li.hover span{display:block;}
.photos_list li div{width:100%;height:100%;background-repeat:no-repeat;background-position:center center;background-size:cover;border:1px solid #eee;}
.photos_list.empty{display:none;}
.add_photo_btn{float:left;width:100px;height:100px;border:1px dashed #ddd;cursor:pointer;position: relative;padding:5px;}
.add_photo_btn_hidden{display:none;}
.add_photo_btn i{position:absolute;top:50%;left:50%;margin-left: -16px;margin-top: -21px;font-size:3em;color:#ccc;}
.add_photo_btn span.span_add_photo_btn{display:block;background:#ddd;top:0;left:0;width:100% !important;height:100% !important;}
.input_file_hidden{visibility: hidden;}

.material_open div.textarea{width:70%;height:200px;float:left;}
.material_open div.textarea textarea{width:100%;height:100%;padding:10px;}
.material_open div.text {float: left;height: 70px;width: 70%;}
.material_open div.text input{width:100%;}

.autoheight{height:auto !important;}

.small_help {float: right;font-size: 81%;margin-top: -28px;}

label.main_radio{font-size: 0.9em;font-weight:normal;margin-bottom:0;margin-top: -27px;display:block;}
label.main_radio input{margin-right: 5px;}

.material_open .text_data  li.with_main_photo_radio{padding-top:20px;}
.material_open .text_data  li.with_main_photo_radio .photos_list{padding-top:20px;}
.material_open .text_data  li.with_main_photo_radio .photos_list li{margin-bottom: 43px !important;}


.required_container{position:relative;float:left;}
.error_msg{display:none;}
.required_container .error_msg{display:none;position:absolute;color:red;font-size:10px;line-height:13px;top:-13px;left:0;width:auto !important;font-weight:normal !important;}
.error .error_msg{display:block;}
.error .required{border:1px solid red;}

.hidden_star{display:none;}
.show_hidden_star .hidden_star{display:inline;}
#public_on_home_testimonials{position:absolute;top:-3px;left:0;}
.public_on_home_testimonials{float:left;display:block;position:relative;padding-left:30px;}

.del_category_ajax{background:none;border: 1px dashed #dadada;cursor: pointer;display: block;float: right;height: 31px;padding: 4px;width: 29px;}
.del_category_ajax i{float: left;font-size: 1.7em;}
.deleting_category .del_category_ajax{background: url('/assets/application/img/loading.GIF') no-repeat center center;background-size: cover;border:none;}
.deleting_category .del_category_ajax i{display:none;}

.w80pc{width:80% !important;}


/*--------------------------------------------*/
#karusel{}
#karusel .accordion-content h3{font-size:1em;float:left;width:100%;}
#karusel .accordion-content .title_karusel{float:left;width:100%;height:76px;}

#karusel .window_block{width:100%;padding:10px;float:left;position:relative;}

#karusel .window_block .frame{width:30%;height:300px; border:1px solid #ddd;position:relative;float:left;margin-right:2%;margin-bottom: 45px;}
#karusel .window_block .frame .type_frame{position:absolute;top:-24px;left:0;float:left;width:100%;}
#karusel .window_block .frame .type_frame label{font-size:0.9em;font-weight:normal;}
#karusel .window_block .frame .type_frame label input{float: left;margin-right: 2px;margin-top: 0;}
#karusel .window_block .frame .type_frame .input_left{float:left;}
#karusel .window_block .frame .type_frame .input_right{float:right;}
#karusel .window_block .frame .content_block{position:absolute;top:0px;left:0;float:left;width:100%;height:100%;}
#karusel .window_block .frame .content_block .tab{position:absolute;top:0px;left:0;float:left;width:100%;height:100%;display:none;background: #fff;}
#karusel .window_block .frame .content_block .active{display:block;}

#karusel .window_block .frame .content_block .photo_type{padding: 20px;}
#karusel .window_block .frame .content_block .photo_type .photos_list{list-style:none;width:100%;margin-right:0;margin-bottom:10px;}
#karusel .window_block .frame .content_block .photo_type .photos_list li{width:99% !important;margin:0 auto;float:none;}

#karusel .window_block .frame .content_block .photo_type div{float:left;margin-bottom:10px;width:100%;}
#karusel .window_block .frame .content_block .photo_type div span{float:left;font-size: 0.8em;width:40%;margin-top:4px;}
#karusel .window_block .frame .content_block .photo_type div input{float:right;width:59%;}
#karusel .window_block .frame .content_block .photo_type div select{float:right;width:59%;}


#karusel .window_block .frame .content_block .text_type{padding: 20px;}
#karusel .window_block .frame .content_block .text_type textarea{width:100%;height:100%;}

#karusel .accordion-content .alert{position:absolute;top: -36px;width: 75%;padding-top: 6px;padding-bottom: 6px}
input.focus_alert{visibility: hidden;}

#karusel .del_link {border: 1px dashed #dadada;cursor: pointer;display: block;float: right;height: 31px;padding: 4px;width: 29px;margin-right: 36px;margin-top:20px;}
#karusel .del_link i {float: left;font-size: 1.7em;}
#karusel .accordion-title span.title{font-size:1.3em;font-weight:bold;padding-left: 0;margin-left: 0;}
#karusel h6{width:90%;}





                                                               
