html,body{font-family: 'Roboto', sans-serif;font-weight: 500;background:#dad1c8;color:#626d71;}/*#f0ece8;*/
.modal-open{overflow:hidden !important;}

.full-intro .header.sticky {background-color:#dad1c8;color: #323232;}
.almost_full_width{width:60%;}

.header .logo a{margin-top:19px;}
.header.sticky .logo a{margin-top:12px;}

.content-caption .container{margin-top:-10%;}

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
  padding:1px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

#problems .container>div{margin:40px auto;min-height:555px;width:77%;background: url(../img/full/11.png) no-repeat center center;padding-left:6%;padding-right:6%;max-width:693px;}
.bg-img10_spec{background-image:url(../img/full/10.jpg);background-size:cover !important;background-repeat:no-repeat;}

#problems .container>div .left{width:50%;float:left;padding-top:93px;}
#problems .container>div h5{}

#problems .container>div .left ul{padding:0;margin:0;list-style:none;}
#problems .container>div .right{width:49%;float:right;padding-top:57px;}
#problems .container>div .right ul{padding:0;margin:0;list-style:none;padding-top:10px;}

#problems .container>div li{margin-bottom:3px;line-height: 1.7em;}
#problems .container>div .left li{padding-left:15%;}
#problems .container>div .left .problem1{width:80%;background:url(../img/ico/1.png) no-repeat center left;}
#problems .container>div .left .problem2{width:90%;background:url(../img/ico/2.png) no-repeat center left;}
#problems .container>div .left .problem3{width:90%;background:url(../img/ico/3.png) no-repeat center left;}
#problems .container>div .left .problem4{width:104%;background:url(../img/ico/4.png) no-repeat center left;}
#problems .container>div .left .problem5{width:106%;background:url(../img/ico/5.png) no-repeat center left;}
#problems .container>div .left .problem6{width:110%;background:url(../img/ico/6.png) no-repeat center left;}
#problems .container>div .left .problem7{width:114%;background:url(../img/ico/7.png) no-repeat center left;}
#problems .container>div .left .problem8{width:118%;background:url(../img/ico/1.png) no-repeat center left;}
#problems .container>div .left .problem9{width:120%;background:url(../img/ico/2.png) no-repeat center left;}
#problems .container>div .left .problem0{width:126%;background:url(../img/ico/3.png) no-repeat center left;}


#problems .container>div .right li{padding-left:15%;}
#problems .container>div .right .problem1{margin-left:-17%;background:url(../img/ico/1.png) no-repeat center left;}
#problems .container>div .right .problem2{margin-left:-11%;background:url(../img/ico/2.png) no-repeat center left;}
#problems .container>div .right .problem3{margin-left:-9%;background:url(../img/ico/3.png) no-repeat center left;}
#problems .container>div .right .problem4{margin-left:-7%;background:url(../img/ico/4.png) no-repeat center left;}
#problems .container>div .right .problem5{margin-left:-3%;background:url(../img/ico/5.png) no-repeat center left;}
#problems .container>div .right .problem6{margin-left:5%;background:url(../img/ico/6.png) no-repeat center left;}
#problems .container>div .right .problem8{margin-left:12%;background:url(../img/ico/1.png) no-repeat center left;}
#problems .container>div .right .problem7{margin-left:18%;background:url(../img/ico/7.png) no-repeat center left;}
#problems .container>div .right .problem9{margin-left:27%;background:url(../img/ico/2.png) no-repeat center left;}
#problems .container>div .right .problem0{margin-left:30%;background:url(../img/ico/3.png) no-repeat center left;}


#work_planning{background: url(../img/bg_markup1.jpg) repeat top left;}

.socials ul{width:100%;list-style:none;padding:none;margin:0;}
.socials li{width:24%;list-style:none;padding:none;margin:0;float:left;}
.socials li a{font-size:3em;}

.addr p{float:left;text-align: left;width:100%;margin-bottom: 30px;position:relative;padding-left: 20px;}
.addr p span{position:absolute;top:0;left:0;}
.addr a{float:left;width:100%;text-align: left;padding-left: 20px;display: block;position: relative;}
.addr a span{position: absolute;top:0;left: 0;}

.addr .order_call{background:#febc53;border-radius:5px; border:none;width:100%;margin-top:4px;font-size: 1.2em;font-weight:700;padding:10px;margin-top:30px;text-align: center;}
.list_manufacturer{width:100%;list-style: none;padding:0;margin:0;}
.list_manufacturer li{list-style: none;padding:0;margin:0;height:59px;line-height: 30px;margin-top:10px;padding-left:10px;margin-bottom:7px;}
.list_manufacturer li a{height:59px;background-position: center center; background-size:contain;background-repeat: no-repeat;display:block;background-color:#fff;border-radius:6px;}
#material h4{text-align:center;}
/*material---------------------------------------------------*/

#manufacturers_line{width:100%;height:70px;list-style: none;margin-bottom: 40px;}
#manufacturers_line li{width:30%;height:30px;list-style: none;padding:0;margin:0;float:left;cursor:pointer;font-size:0.9em;text-align: left;border-radius: 10px;}
#manufacturers_line li.all{width:100%;text-align: center;}
#manufacturers_line li span{padding: 2px;height:30px;display:block;width:auto;float:left;}
#manufacturers_line li.selected span{background:#ccc;color:#fff;}

.affix{top:100px;height:80%;overflow:auto;}

.set_material{list-style: none;margin-bottom: 40px;}
.set_material li{box-shadow: 0 0 10px rgba(0,0,0,0.5);border-radius: 26px;cursor:pointer;float:left;width:27%;height:150px;border:1px solid #ccc;border-radius: 5px;margin-right:50px;margin-bottom:50px;list-style: none;position:relative;}
.set_material li span{position:absolute;left:-20px;top:10px;display:block;color:#fff;background:red;padding:5px;box-shadow: 0 0 4px rgba(0,0,0,0.5);border-radius: 3px;}

#colors_line{width:100%;float:left;list-style: none;margin-bottom:40px;}
#colors_line li{padding-top: 13px;font-size:5em;text-align: center;color: #fafafa;cursor:pointer;list-style: none;width:50px; height:50px;float:left; margin-right: 20px;border-radius: 5px;/*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/margin-bottom: 5px;}


#colors_line li.selected{border:1px solid yellow;}

#textures_line{width:100%;height:70px;list-style: none;margin-bottom:40px;}
#textures_line li{cursor:pointer;list-style: none;height:30px;float:left; font-size:0.8em;padding:0;margin:0;line-height: 30px;border:1px solid #fff;padding-left:5px;padding-right: 5px;margin-right: 20px;border-radius: 5px;margin-bottom: 5px;}
#textures_line li.selected{border:1px solid yellow;}

.for_selected_sample{position:relative;}
#for_selected_sample{position:absolute; float:left;height:120px; background:#fff;box-shadow: 0 0 10px rgba(0,0,0,0.5);border-radius: 26px;}
#for_selected_sample li{float:left;width:150px;height:150px;border:1px solid #ccc;border-radius: 5px;margin-right:50px;margin-bottom:50px;list-style: none;}

#materialModal{}
#materialModal .modal-dialog{height: 90%;width:80%;margin-top:100px;}
#materialModal .modal-content{height: 100%;}
#materialModal .modal-content .modal-body{height: 80%;}
#materialModal .modal-body dl{width:100%;height:300px;} 
#materialModal .modal-body dl dt{height:90%;border:1px solid #ddd;background-size: cover;box-shadow: 0 0 10px rgba(0,0,0,0.5);border-radius: 10px;background-repeat: no-repeat;background-position:0px 0px;}

#materialModal .modal-body dl dd ul{list-style: none;float: left;width:100%;}
#materialModal .modal-body dl dd li{margin-bottom: 10px;float: left;width:100%;}
#materialModal .modal-body dl dd li strong{float:left;width:50%;}
#materialModal .modal-body dl dd li span{float:left;}
#materialModal .modal-body dl dd li.separator{border-top:1px solid #ddd;}
#materialModal .modal-body dl dd li.card_price{padding:3px;background:red;color:#fff;font-size: 1.1vw;}

#filter_sidebar{float:left;width:28%;}
#filter_sidebar h5{padding-left:40px;}

.material_set_container{float: right;width:71%;height:80%;overflow:auto;position:relative;padding-bottom:85px;} 
.material_set_container ul{width:100%;float:left;}
.material_set_container .ajax_loader{position:absolute;left:0;bottom:0;background:#dad1c8 url(../img/load.gif) no-repeat center center;width:100%; height:85px;display:none;}

.ajax_loader_show{display:block;}

.set_material{float: right;width:71%;height:80%;overflow:auto;}



.clear{clear:both;}

.stickem-container{width:100%;height:100%;position:relative;}



.stickit {

    position: fixed;
    top: 70px;
}

.stickit-end {
    bottom: 40px;
    position: absolute;
    
}


.modal {z-index:50000;}
.modal-content {box-shadow:none;border: none;}
 #materialModal .modal-dialog {background: #fff none repeat scroll 0 0;height: unset;}
#materialModal .modal-body .analogs {width:100%;height:151px;overflow:auto;padding-top:10px;padding-bottom:10px; padding-left: 10px;}
#materialModal .modal-body .analogs dl{width:100px;height:120px;padding:0;margin:0;float:left;margin-right:60px;margin-bottom:30px;cursor:pointer;}
#materialModal .modal-body .analogs dl dt{width:100%;font-size: 0.8em;height: 20px;line-height: 0.9em;padding: 0;border:none;box-shadow: none;border-radius:none;}
#materialModal .modal-body .analogs dl dd{width:100%; height:100px;position: relative;box-shadow: 0 0 10px rgba(0,0,0,0.5);border-radius: 10px;}
#materialModal .modal-body .analogs dl dd span{position: absolute;display: block;padding-right: 2px;top:2px;left:-5px;background: red;color: #fff;}

#materialModal .modal-body .analogs dl dt {
    border: medium none;
    box-shadow: none;
    font-size: 0.8em;
    height: 22px;
    line-height: 1em;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0 0 0 3px;
    width: 100%;
}
#materialModal .modal-body .analogs {
    height: 160px;
    overflow: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
}
footer{background:none;}


.project{}
.project dl{padding:0;margin:0;float:left;padding-bottom:30px;border-bottom: 1px solid #ddd;margin-bottom: 30px;width:100%;}
.project dt{padding:0;margin:0;float:left;width:20%;}
.project dd{padding:0;margin:0;float:right;width:79%;}

.set_material_infolio{float: right;height: unset;overflow: visible;width: 100%;}
.set_material_infolio li{background-repeat: no-repeat;background-size: cover;background-position: center center;}

.blueprints{padding:0;margin:0;float:left;width:100%;}
.blueprints li{   float: left;
    height: 300px;
    margin-right: 1%;
    overflow: hidden;
    width: 47%;}
.blueprints li img{width:100%;max-width:100%;}

.photos{padding:0;margin:0;float:left;width:100%;}
.photos li{float: left;height: 300px;margin-right: 1%;overflow: hidden;margin-bottom:1%;width: 47%;}
.photos li img{width:100%;max-width:100%;}

.project dl .testimonial_in_folio{border-bottom: none;}
.project dl .testimonial_in_folio dt{display:block;width:200px;height:250px;background-repeat: no-repeat;background-size: cover;background-position: center center;float:left;margin-right:40px;}
.project dl .testimonial_in_folio dd{float:left;width:50%;max-width:500px;}
.project dl .testimonial_in_folio dd ul{float:left;list-style: none;width: 100%;}
.project dl .testimonial_in_folio dd li{float:left;width: 100%;}
.project dl .testimonial_in_folio dd li.font-weight:bold;}
/*>{{ project.name_testimonials }}</li>
                                       <li>{{ project.organization }}</li>
                                       <li>{{ project.text_testimonials }}</li>
                                       <li>{{ project.short_text_testimonials }}</li>*/

.testimonial-carousel{}
.testimonial-carousel .item{} 
.testimonial-carousel .item .testimonial{}
.testimonial-carousel .item .testimonial .img{float:left;width:100%;height:250px;overflow: hidden;margin-bottom:20px;}
.testimonial-carousel .item .testimonial .img img{margin:0 auto;height:100%;}
.testimonial-carousel .item .testimonial .text{width:100%;float:left;}
.testimonial-carousel .item .testimonial .text .container-ico{}
.testimonial-carousel .item .testimonial .text .lead{}
.testimonial-carousel .item .testimonial .text h6.quote-author{}
.testimonial-carousel .item .testimonial .text h6.quote-author span{}
.testimonial-carousel .item .testimonial .text a{color:#e6ae49;}

.item-box {
    display: block;
    float: left;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.item-box a{display:block !important;}
.project_link{display:block;padding:4px;background:yellow;color:#000;text-decoration: :none;}
    ._red {stroke:'red';fill:'red';stroke-width:50;stroke-opacity:1}
    .str2 {stroke:#2B2A29;stroke-width:0.959811;stroke-opacity:0.501961}
    .str1 {stroke:'red';stroke-width:5;stroke-opacity:0.501961}
    .str3 {stroke:#2B2A29;stroke-width:0.566929}
    .str5 {stroke:#E31E24;stroke-width:0.566929}
    .str0 {stroke:#7690C9;stroke-width:1}
    .str4 {stroke:#7690C9;stroke-width:0.566929}
    .str6 {stroke:#2E72A9;stroke-width:0.216}
    .fil2 {fill:none}
    .fil5 {fill:none;fill-rule:nonzero}
    .fil1 {fill:none}
    .fil3 {fill:#2B2A29}
    .fil0 {fill:'red'}
    .fil4 {fill:#7690C9}
    .fil6 {fill:#2E72A9}
    .fnt2 {font-weight:normal;font-size:12px;font-family: 'Roboto', sans-serif;}
    .fnt1 {font-weight:bold;font-size:48px;font-family: 'Roboto', sans-serif;}
    .fnt0 {font-style:italic;font-weight:bold;font-size:32px;font-family: 'Roboto', sans-serif;}

    .str0a {stroke:#FEFEFE;stroke-width:2.97071}
    .fil2a {fill:none}
    .fil4a {fill:#FEFEFE}
    .fil0a {fill:#0078BF}
    .fil3a {fill:#0078BF}
    .fil5a {fill:#00A0E3}
    .fil1a {fill:#FEFEFE;fill-rule:nonzero}
   



    .str1b {stroke:#434242;stroke-width:11.811;stroke-opacity:0.250980}
    .str0b {stroke:#E31E24;stroke-width:12.4995;stroke-linecap:square;stroke-linejoin:round;stroke-opacity:0.250980}
    .str3b {stroke:#2B2A29;stroke-width:5.90548}
    .str2b {stroke:#febc53;stroke-width:2.36219}
    .fil9b {fill:none}
    .fil4b {fill:#2B2A29}
    .fil6b {fill:#2B2A29}
    .fil3b {fill:#febc53}
    .fil1b {fill:#F5B2B6}
    .fil7b {fill:black}
    .fil8b {fill:#1C1C1A;fill-rule:nonzero}
    .fil2b {fill:#febc53;fill-opacity:0.250980}
    .fil0b {fill:#F5B2B6;fill-opacity:0.250980}
    .fil5b {fill:#febc53}
    .fnt0b {font-weight:normal;font-size:3.4em;letter-spacing: initial;font-family: 'Roboto', sans-serif;}
    .fnt1b {font-weight:bold;font-size:7em;letter-spacing: initial;font-family: 'Roboto', sans-serif;}

    header .logo{visibility: hidden;}
.navigation{visibility: hidden;}
.content-caption h2{visibility: hidden;}
#welcome .content-caption a.btn-white{visibility: hidden;}
.sales{visibility: hidden;}

.header .no_hide_logo{visibility: visible !important;}
.no_hide_navigation{visibility: visible !important;}

.articles .separator{border-color:#ddd;margin-top:20px;margin-bottom:20px;color:#333;width:100%;}
.articles a p{color:#333;line-height:1.5em}
.articles a:hover p{color:#e6ae49;}

#info{}
#info .articles_at_home{list-style: none;padding:0;margin:0;padding-bottom:80px;padding-top:40px;}
#info .articles_at_home li{list-style: none;padding:0;margin:0;margin-top:30px;padding-left:10px;padding-right:10px;height:300px;overflow: hidden;}
#info .articles_at_home li h6{width:100%;margin-bottom:30px;line-height:1.7em;}
#info .articles_at_home li a{background: #fff none repeat scroll 0 0;border-radius:5px;
    display: block;
    float: left;
    height: 100%;
    padding-bottom: 20px;
    width: 100%;}
#info .articles_at_home li a > div{width:100%;background:#fff;border-radius:5px;height:100%;padding-top:60px;padding-bottom:40px;padding-left:20px;padding-right:20px;overflow: hidden;}
#info .articles_at_home li a > div > p{float: left;line-height:1.7em;color:#333;}
#info .articles_at_home li a:hover{color:#e6ae49 !important;}
#info .articles_at_home li a:hover > div > p{color:#e6ae49 !important;}
#info .articles_at_home li a:hover h6{color:#e6ae49 !important;}

.openarticle{}
.openarticle h2{}
.openarticle h2 a{}
.openarticle h2 span{text-transform: capitalize;font-weight:normal;}
.openarticle .text{line-height: 1.9em;color:#333;}
.openarticle .text p{margin-bottom: 30px;color:#333;}

#about{font-family: "Roboto",sans-serif !important; font-size:1em !important; color: #000 !important;line-height:1.2em !important;}
#about p{font-family: "Roboto",sans-serif !important; font-size:1.1em !important; line-height:1.2em !important;color: #000 !important;}

#about .item{padding:20px;height:300px;overflow:hidden; text-overflow: ellipsis;}
#about .item > a{background:none; border: 2px solid #fff; padding:30px;border-radius: 10px;height:100%;overflow:hidden; text-overflow: ellipsis;width:100%;display:block;}
#about .item > a:hover{border-color: yellow;}


#causes{padding-top:40px;padding-bottom:40px;}
#causes .container{}
#causes .container h4{text-align: center;}
#causes .container h5{text-align: center;}
#causes .container ul{list-style: none;padding:0;margin:0;}
#causes .container li{list-style: none;height:170px;text-align:center;font-weight:700;margin-top:20px;}
#causes .container .cause1 a em{background-image:url(../img/cause/1.png);}
#causes .container .cause2 a em{background-image:url(../img/cause/2.png);}
#causes .container .cause3 a em{background-image:url(../img/cause/3.png);}
#causes .container .cause4 a em{background-image:url(../img/cause/4.png);}
#causes li a{display:block;width:100%;height:100%;position:relative;width:100%;height:100%;display:block;}
#causes li a em{position:absolute;display:block;background-repeat:no-repeat;background-position:center top;width:100%;height:137px;}
#causes li a:hover em{background-position:center bottom;}
#causes li a span{position:absolute;bottom:0;width:100%;height:auto;display:block;line-height:1em;}

#work_planning .container{/*background:url('../img/markup1.jpg') no-repeat center center;*/height:auto;}/*    !!!!!!!!!!!!!!!!!             для разработки!!!!!!!!!!!!!    */
#work_planning .container ul{list-style: none;width:100%;float:left;}
#work_planning .container li{width:125px;height:221px;background:#ecf0f1 url(../img/how/how_bg.png) no-repeat top right;border-radius: 6px;list-style: none;padding :0;margin :0;float:left;margin-right:15px;margin-top:30px;}
#work_planning .container li a{text-align:center;padding-left:3px;padding-right:3px;display:block;position:relative;width:100%;height:100%;color:#3b485b;line-height:1.2em;padding-top:156px;font-size:0.9em;}
#work_planning .container li a em.num{background:#e8513c;width:46px;height:46px;color:#fff;font-size:3em;border-radius: 22px;position:absolute;top:-23px;left:50%;margin-left:-23px;display:block;text-align:center;padding-top:19px;}
#work_planning .container li a em.pic{background-repeat:no-repeat;background-position:top left;position:absolute;display:block;width:103px;top:42px;left:11px;height:108px;}
#work_planning .container li a:hover em.pic{background-position: top right;}
#work_planning .container li a:hover{color:#e6ae49;transition:none;}
#work_planning h4{color:#fff;margin-top:42px;margin-bottom:49px;text-align:center;}

#work_planning .container li.how_1 a em.pic{background-image: url(../img/how/how_1.png);}
.animated {animation-fill-mode: backwards;}
.vis{visibility: visible !important;}







