html,body{font-family: 'Roboto', sans-serif;font-weight: 500;background:#dad1c8;color:#626d71;}/*#f0ece8;*/
.modal-open{overflow:hidden !important;}

.full-intro .header.sticky {background-color:#dad1c8;color: #323232;}
.almost_full_width{width:60%;}

.header .logo a{margin-top:19px;}
.header.sticky .logo a{margin-top:12px;}

.content-caption .container{margin-top:-10%;}

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
  padding:1px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

#problems .container>div{margin:40px auto;min-height:555px;width:77%;background: url(../img/full/11.png) no-repeat center center;padding-left:6%;padding-right:6%;max-width:693px;}
.bg-img10_spec{background-image:url(../img/full/10.jpg);background-size:cover !important;background-repeat:no-repeat;}

#problems .container>div .left{width:50%;float:left;padding-top:93px;}
#problems .container>div h5{}

#problems .container>div .left ul{padding:0;margin:0;list-style:none;}
#problems .container>div .right{width:49%;float:right;padding-top:57px;}
#problems .container>div .right ul{padding:0;margin:0;list-style:none;padding-top:10px;}

#problems .container>div li{margin-bottom:3px;line-height: 1.7em;}
#problems .container>div .left li{padding-left:15%;}
#problems .container>div .left .problem1{width:80%;background:url(../img/ico/1.png) no-repeat center left;}
#problems .container>div .left .problem2{width:90%;background:url(../img/ico/2.png) no-repeat center left;}
#problems .container>div .left .problem3{width:90%;background:url(../img/ico/3.png) no-repeat center left;}
#problems .container>div .left .problem4{width:104%;background:url(../img/ico/4.png) no-repeat center left;}
#problems .container>div .left .problem5{width:106%;background:url(../img/ico/5.png) no-repeat center left;}
#problems .container>div .left .problem6{width:110%;background:url(../img/ico/6.png) no-repeat center left;}
#problems .container>div .left .problem7{width:114%;background:url(../img/ico/7.png) no-repeat center left;}
#problems .container>div .left .problem8{width:118%;background:url(../img/ico/1.png) no-repeat center left;}
#problems .container>div .left .problem9{width:120%;background:url(../img/ico/2.png) no-repeat center left;}
#problems .container>div .left .problem0{width:126%;background:url(../img/ico/3.png) no-repeat center left;}


#problems .container>div .right li{padding-left:15%;}
#problems .container>div .right .problem1{margin-left:-17%;background:url(../img/ico/1.png) no-repeat center left;}
#problems .container>div .right .problem2{margin-left:-11%;background:url(../img/ico/2.png) no-repeat center left;}
#problems .container>div .right .problem3{margin-left:-9%;background:url(../img/ico/3.png) no-repeat center left;}
#problems .container>div .right .problem4{margin-left:-7%;background:url(../img/ico/4.png) no-repeat center left;}
#problems .container>div .right .problem5{margin-left:-3%;background:url(../img/ico/5.png) no-repeat center left;}
#problems .container>div .right .problem6{margin-left:5%;background:url(../img/ico/6.png) no-repeat center left;}
#problems .container>div .right .problem8{margin-left:12%;background:url(../img/ico/1.png) no-repeat center left;}
#problems .container>div .right .problem7{margin-left:18%;background:url(../img/ico/7.png) no-repeat center left;}
#problems .container>div .right .problem9{margin-left:27%;background:url(../img/ico/2.png) no-repeat center left;}
#problems .container>div .right .problem0{margin-left:30%;background:url(../img/ico/3.png) no-repeat center left;}

#causes{padding-top:40px;padding-bottom:40px;}
#causes .container{}
#causes .container h4{text-align: center;}
#causes .container h5{text-align: center;}
#causes .container ul{list-style: none;padding:0;margin:0;}
#causes .container li{list-style: none;background-repeat:no-repeat;padding-top:157px;background-position:center top;text-align:center;font-weight:700;}
#causes .container .cause1{background-image:url(../img/cause/1.png);}
#causes .container .cause2{background-image:url(../img/cause/2.png);}
#causes .container .cause3{background-image:url(../img/cause/3.png);}
#causes .container .cause4{background-image:url(../img/cause/4.png);}

#work_planning{background: url(../img/bg_markup1.jpg) repeat top left;}

.socials ul{width:100%;list-style:none;padding:none;margin:0;}
.socials li{width:24%;list-style:none;padding:none;margin:0;float:left;}
.socials li a{font-size:3em;}

.addr p{float:left;text-align: left;width:100%;margin-bottom: 30px;position:relative;padding-left: 20px;}
.addr p span{position:absolute;top:0;left:0;}
.addr a{float:left;width:100%;text-align: left;padding-left: 20px;display: block;position: relative;}
.addr a span{position: absolute;top:0;left: 0;}

.addr .order_call{background:#febc53;border-radius:5px; border:none;width:100%;margin-top:4px;font-size: 1.2em;font-weight:700;padding:10px;margin-top:30px;text-align: center;}
.list_manufacturer{width:100%;list-style: none;padding:0;margin:0;}
.list_manufacturer li{width:100%;list-style: none;padding:0;margin:0;height:30px;line-height: 30px;margin-top:10px;border:1px solid #fff;padding-left:10px;}

/*material---------------------------------------------------*/

#manufacturers_line{width:100%;height:70px;list-style: none;margin-bottom: 40px;}
#manufacturers_line li{width:30%;height:30px;list-style: none;padding:0;margin:0;float:left;cursor:pointer;font-size:0.9em;text-align: left;border-radius: 10px;}
#manufacturers_line li.all{width:100%;text-align: center;}
#manufacturers_line li span{padding: 2px;height:30px;display:block;width:auto;float:left;}
#manufacturers_line li.selected span{background:#ccc;color:#fff;}

.affix{top:100px;height:80%;overflow:auto;}

.set_material{list-style: none;margin-bottom: 40px;}
.set_material li{box-shadow: 0 0 10px rgba(0,0,0,0.5);border-radius: 26px;cursor:pointer;float:left;width:27%;height:150px;border:1px solid #ccc;border-radius: 5px;margin-right:50px;margin-bottom:50px;list-style: none;position:relative;}
.set_material li span{position:absolute;left:-20px;top:10px;display:block;color:#fff;background:red;padding:5px;box-shadow: 0 0 4px rgba(0,0,0,0.5);border-radius: 3px;}

#colors_line{width:100%;float:left;list-style: none;margin-bottom:40px;}
#colors_line li{padding-top: 13px;font-size:5em;text-align: center;color: #fafafa;cursor:pointer;list-style: none;width:50px; height:50px;float:left; margin-right: 20px;border-radius: 5px;/*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/margin-bottom: 5px;}


#colors_line li.selected{border:1px solid yellow;}

#textures_line{width:100%;height:70px;list-style: none;margin-bottom:40px;}
#textures_line li{cursor:pointer;list-style: none;height:30px;float:left; font-size:0.8em;padding:0;margin:0;line-height: 30px;border:1px solid #fff;padding-left:5px;padding-right: 5px;margin-right: 20px;border-radius: 5px;margin-bottom: 5px;}
#textures_line li.selected{border:1px solid yellow;}

.for_selected_sample{position:relative;}
#for_selected_sample{position:absolute; float:left;height:120px; background:#fff;box-shadow: 0 0 10px rgba(0,0,0,0.5);border-radius: 26px;}
#for_selected_sample li{float:left;width:150px;height:150px;border:1px solid #ccc;border-radius: 5px;margin-right:50px;margin-bottom:50px;list-style: none;}

#materialModal{}
#materialModal .modal-dialog{height: 90%;width:80%;margin-top:100px;}
#materialModal .modal-content{height: 100%;}
#materialModal .modal-content .modal-body{height: 80%;}
#materialModal .modal-body dl{width:100%;height:300px;} 
#materialModal .modal-body dl dt{height:90%;border:1px solid #ddd;background-size: cover;box-shadow: 0 0 10px rgba(0,0,0,0.5);border-radius: 10px;}

#materialModal .modal-body dl dd ul{list-style: none;float: left;width:100%;}
#materialModal .modal-body dl dd li{margin-bottom: 10px;float: left;width:100%;}
#materialModal .modal-body dl dd li strong{float:left;width:50%;}
#materialModal .modal-body dl dd li span{float:left;}
#materialModal .modal-body dl dd li.separator{border-top:1px solid #ddd;}
#materialModal .modal-body dl dd li.card_price{padding:3px;background:red;color:#fff;font-size: 1.1vw;}

#filter_sidebar{float:left;width:28%;}
#filter_sidebar h5{padding-left:40px;}

.material_set_container{float: right;width:71%;height:80%;overflow:auto;position:relative;padding-bottom:85px;} 
.material_set_container ul{width:100%;float:left;}
.material_set_container .ajax_loader{position:absolute;left:0;bottom:0;background:#dad1c8 url(../img/load.gif) no-repeat center center;width:100%; height:85px;display:none;}

.ajax_loader_show{display:block;}

.set_material{float: right;width:71%;height:80%;overflow:auto;}



.clear{clear:both;}

.stickem-container{width:100%;height:100%;position:relative;}



.stickit {

    position: fixed;
    top: 70px;
}

.stickit-end {
    bottom: 40px;
    position: absolute;
    
}


.modal {z-index:50000;}
.modal-content {box-shadow:none;border: none;}
 #materialModal .modal-dialog {background: #fff none repeat scroll 0 0;height: unset;}
#materialModal .modal-body .analogs {width:100%;height:151px;overflow:auto;padding-top:10px;padding-bottom:10px; padding-left: 10px;}
#materialModal .modal-body .analogs dl{width:100px;height:120px;padding:0;margin:0;float:left;margin-right:60px;margin-bottom:30px;cursor:pointer;}
#materialModal .modal-body .analogs dl dt{width:100%;font-size: 0.8em;height: 20px;line-height: 0.9em;padding: 0;border:none;box-shadow: none;border-radius:none;}
#materialModal .modal-body .analogs dl dd{width:100%; height:100px;position: relative;box-shadow: 0 0 10px rgba(0,0,0,0.5);border-radius: 10px;}
#materialModal .modal-body .analogs dl dd span{position: absolute;display: block;padding-right: 2px;top:2px;left:-5px;background: red;color: #fff;}



footer{background:none;}