@media (max-width: 767px) {
    #work_planning .container li,
	#work_planning .container li.even{margin:0 auto;margin-top: 30px;float:none;}

    .addr .order_call {margin-bottom:20px;}

	#schema_I{width:90%;height: 100px;}
	#schema_L{width:90%;height: 200px;}
	#schema_U{width:90%;height: 200px;}

	.l_sink, .l_stove, .u_sink, .u_stove, .i_sink, .i_stove{font-size:1em;}
	.u_sink{font-size:1em;}

	.grid-sizer, .grid-item {width: 100%;}
	.item-box {height:auto;}

	#work_planning .container li a em.arrow,
	#work_planning .container li.even a em.arrow {background:url(../img/how/arrow_mobile.png) no-repeat top left;width:43px;height:102px;left: 122px;top: 192px;}



}