{% extends 'layout/admin.twig' %}


{% block content %}
<a href="/admin/testimonials">Портфолио</a> / Добавить новую работу
<hr>
<div class="row">
     <div class="col-md-8">
                     <section class="material_open">
                            <div class="panel panel-default">
                                      <div class="panel-heading">
        
                                      <h4>Новый отзыв</h4>
                                       </div>

{#  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_group` int(11) NOT NULL,
  `name_testimonial` varchar(255) NOT NULL,
  `number_testimonial` varchar(255) NOT NULL,
  `describe_testimonial` text NOT NULL,
  `id_testimonials` int(11) NOT NULL,
  `price_testimonial` int(11) NOT NULL,#}                                       
                                          <div class="panel-body">
                                                <form action="/admin/addtestimonial" method="post" enctype="multipart/form-data" id="addtestimonial">
                                                  <ul class="text_data">
                                                   

                                                    
                                                     <li><span>Отзыв заказчика</span>
                                                            <div><label class="public_on_home_testimonials"><input type="checkbox" name="public_on_home_testimonials" id="public_on_home_testimonials" />Публиковать на главной</label></div>
                                                     </li> 
                                                     
                                                     <li><span>Имя <em class="hidden_star">*</em></span>
                                                         <div>
                                                              <span class="error_msg">Укажите имя заказчика</span>
                                                              <input type="text" name="name_testimonials" id="name_testimonials" value="" />
                                                         </div>
                                                          
                                                     </li>
                                                     <li class="separator"></li>                                                     
 
                                                     <li><span>Организация</span>
                                                         <div>
                                                              <input type="text" name="organization"   value="" />
                                                         </div>
                                                          
                                                     </li>  
                                                    <li class="separator"></li>
                                                     <li class="url_picture"><span>Фотография/логотип</span>
                                                                <ul  class="empty photos_list"></ul>
                                                                <div class="add_photo_btn only_one" data-form-id="url_picture"><i class="fa fa-plus"></i><span class="span_add_photo_btn"></span></div>

                                                     </li>
                                                     <li class="separator"></li>

                                                     <li><span>Текст отзыва</span>
                                                         <div class="textarea">
                                                              <textarea name="text_testimonials"></textarea>
                                                         </div>
                                                          
                                                     </li>  
                                                     <li class="separator"></li>

                                                     <li><span>Короткий текст отзыва <br />для главной <em class="hidden_star">*</em></span>
                                                         <div class="textarea"><span class="error_msg">Для публикации на главной нужен короткий отзыв</span>
                                                              <textarea name="short_text_testimonials" id="text_testimonials"></textarea>
                                                         </div>
                                                         
                                                          
                                                     </li>                                                       


                                                  </ul>
                                                  <div><input type="button" value="Обновить отзыв" data-form="addtestimonial" class="checker" /> <a href="/admin/testimonials">Отмена</a></div>


                                                 </form> 
 
                                               
                                                <form action="/admin/ajaxaddphoto" method="post" id="url_picture" class="form_photos">
                                                           <input type="file" class="input_file_hidden" name="sample" />
                                                          
                                               </form>                                                                                            

                                         </div>
                                 </div>   	



			        </section>
     </div> 




{% endblock content %}