<?php if ($this->key !=null){?>
<ul class="analog_list_window"><form id="analogs">
<?php foreach ($this->key as $item){ ?>
<?php $url_sample = ((isset($item['url']) && $item['url'] != '' && $item['url'] !=null)?"/assets/application/samples/".trim($item['url']):"/assets/application/img/no_photo.png");?>
                      <li> 
                         <div style="background:url('<?php echo $url_sample ?>') no-repeat top left;">
                                  <small><?php echo $item['articul'] ?></small><br />
                                  <span>
                                          <?php echo $item['name_material']  ?>
                                  </span>  
                        </div>
                        <input type="checkbox" value="<?php echo $item['id'] ?>" />   

                       </li>

<?php }?>
    </form>  </ul>
<?php}else {?> 
          <h3>Ничего не найдено</h3> 
          <?php }?>

