{% extends 'layout/admin.twig' %}


{% block content %}
<a href="#">Pages</a>
<hr>
<div class="row">
     <div class="col-md-6">
             <section class="pages_list">
sasdasdasd
            </section>
     </div>       
     <div class="col-md-6"></div>

</div><!--  row -->
{% endblock content %}