 
{% extends 'layout/layout.twig' %}


{% block content %}
   

   <!-- Site Wraper -->
    <div class="wrapper">

        <!-- HEADER -->
        <header class="header">
            <div class="container">

                <!-- logo -->
                <div class="logo">
                    <a href="">
                        <img class="l-black" src="/assets/application/img/logo-black.png" />
                        <img class="l-white" src="/assets/application/img/logo-white.png" />
                        <img class="l-color" src="/assets/application/img/logo-color.png" />
                    </a>
                </div>
                <!--End logo-->


                <!-- Navigation Menu -->
                <nav class="navigation">
                    <ul>
              <!--          <li>
                            <a class="current-ele" href="#welcome">Home</a>
                        </li> -->

                        <li>
                            <a href="#portfolio">Наши работы</a>
                        </li>
                        <li>
                            <a href="#material">Материалы</a>
                        </li>
                        <li>
                            <a href="#">Расчет цены</a>
                        </li>
                        <li>
                            <a href="#">Производство</a>
                        </li>
  
                        <li>
                            <a href="#contacts">Контакты</a>
                        </li>
                        {% if ( isAllowed('admin_button', 'see_button'))  %}
                         <li> <a href="/admin" style="color:yellow;">Админ</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <!--               
                <!--End Navigation Menu -->


            </div>
        </header>
        <!-- END HEADER -->

        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- Intro Section -->
        <section class="full-screen-intro" id="welcome">
            <!-- Bg Image -->
            <div class="media-wapper bg-img8 cont-h-100per"></div>
            <!-- End Bg Image -->

            <!-- Content -->
            <div class="full-cap-wraper overlay-dark light-color">
                <div class="content-caption light-color parallax parallax-opacity">



{{ GetActiveSale() }}


                    <div class="container">
                      <!--  <h5>Столешница наша - цена ваша</h5> -->
                        <h2 class="h2 wow fadeInDown animated" data-wow-delay="3000ms" data-wow-duration="1000ms">Столешница наша - цена ваша</h2>
                             <div>
                                   <a class="btn btn-md btn-white almost_full_width wow fadeInDown animated" data-wow-delay="4000ms" data-wow-duration="1000ms" href="http://hydraulicus.github.io/My_Git/ekalan/index.html" target="_blank">Создать столешницу мечты</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Content -->

            <!-- Intro Scroll Down -->
            <div class="intro-scroll-down">
                <a class="scroll-down" href="#about">
                    <span class="mouse">
                        <span class="mouse-dot"></span>
                    </span>
                </a>
            </div>
            <!-- End Intro Scroll Down -->
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->

        <!--About Section-->
        <section id="about" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="h4">Добро пожаловать!</h3>
                        <div class="spacer-15"></div>
                        <p class="lead">

Аэропорты, банки, гостиницы, офисы, торговые центры, магазины, рестораны – это лишь небольшой перечень общественных помещений, где изделия из искусственного камня заслуженно получили широкое распространение.<br />

Высокая прочность, надежность, отсутствие швов – все это позволяет создавать поверхности, которые устойчивы к случайным повреждениям и предназначены для длительной эксплуатации.<br />

Возможности ekalan позволяют осуществить любые пожелания проектировщиков, будь-то внутренняя обшивка стен, барные и кассовые стойки, рецепции, колонны, мебель или логотип Вашей компании.
</p>
                    </div>
                </div>
              </div>

</section>                
<section id="material" class="wow fadeIn ptb ptb-sm-80">
 <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-30">
                        <h4>Столешницы европейского уровня</h4>
                        <ul class="list_manufacturer">
                            {% for m in manufacturers %}
                                 <li><a href="/material/{{ m.name_manufacturer }}">{{ m.name_manufacturer }}</a></li>   
                             {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-4 mb-30">
                        <h4>Почему так дорого?</h4>
                        <div class="spacer-15"></div>
                        <a href=#>Давайте оптимизируем стоимость!</a>
                    </div>

                    <!-- Skills -->
                    <div class="col-md-4">
                         <h4>Хотите еще дешевле - </h4>
                        <div class="spacer-15"></div>
                        <p>Закажите <a href=#>on-line и получите -10%</a></p>
                    </div>
                    <!-- End Skills -->
                </div>
            </div>
          
        </section>
        <!-- End About Section-->

        <hr />

        <section class="bg-img10_spec" id="problems">
          

            <div class="container">
                     <div>
                        <div class="left">
                          <h5><span>10</span> проблем при<br /> покупке столешниц</h5>
                          <ul>
                               <li class="problem1">Трудно оценить сложную конфигурацию</li>
                               <li class="problem2">Невозможно создать сложную конфигурацию</li>
                               <li class="problem3">Трудно самостоятельно оценить</li>
                               <li class="problem4">Невозможно правильно предусмотреть</li>
                               <li class="problem5">Сложно спланировать</li>
                               <li class="problem6">Трудно составить смету работ</li>
                               <li class="problem7">Получить моральную поддержку</li>
                               <li class="problem8">Оценить всю сложность работы</li>
                               <li class="problem9">Сложно предугадать все ньюансы</li>
                               <li class="problem0">Трудно сконфигурировать оценку</li>

                          </ul>
                        </div> <!--  left  -->
                        <div class="right">
                          <h5>10 причин, почему мы</h5>
                          <ul>
                               <li class="problem1">Работаем круглосуточно</li>
                               <li class="problem2">С первой секунды - сервис работает только на вас</li>
                               <li class="problem3">Вы - наша прелесть</li>
                               <li class="problem4">Невозможное - возможно</li>
                               <li class="problem5">На каждый ваш запрос - 3 варианта</li>
                               <li class="problem6">Всегда найдется акция</li>
                               <li class="problem7">Рассмотрим, обогреем, порадуем</li>
                               <li class="problem8">Оценить всю сложность работы</li>
                               <li class="problem9">Если вы придумаете, то мы</li>
                               <li class="problem0">Все очень просто</li>

                          </ul>
                        </div> <!--  right  -->                        

                     </div>
            </div>
        </section>
        <section id="causes">
             <div class="container">
                       <h4>4 веских причины</h4>
                       <h5>Почему 95% обратившихся решают купить у нас</h5>
                       <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                               <li class="cause1 col-lg-3 col-md-3 col-sm-6 col-xs-12">Даем гарантию</li>
                               <li class="cause2 col-lg-3 col-md-3 col-sm-6 col-xs-12">Собственное производство</li>
                               <li class="cause3 col-lg-3 col-md-3 col-sm-6 col-xs-12">Работаем в розницу и оптом</li>
                               <li class="cause4 col-lg-3 col-md-3 col-sm-6 col-xs-12">Доставка по всей стране</li>
                       </ul>
             </div><!-- container  -->

        </section><!-- causes  -->

        <section id="work_planning">

                <div class="container">

                       <img src="/assets/application/img/markup1.jpg" alt="" />
                </div>
        </section>


        <!-- Testimonials -->
        <section id="testimonial" class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('assets/application/img/full/22.jpg');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" Без внимания не осталась ни одна деталь. Наша кухня стала безупречной."</p>
                            <h6 class="quote-author">Иван Дунхам <span style="font-weight: 400;">( Appel Studio )</span></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">"Расчет оказался точным, все пожелания учтены, внимательное и быстрое обслуживание. "</p>
                            <h6 class="quote-author">Александр Иванов <span style="font-weight: 400;">( USA )</span></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">"После кухни, ванной и гостинной планирую обшить офис, гараж и магазин "</p>
                            <h6 class="quote-author">Адам Савадж <span style="font-weight: 400;">( Artist )</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials -->



        <hr />

        <!-- Contant Slider Section -->
        <section id="portfolio" class="wow fadeIn ptb ptb-sm-80">
        <a href="/portfolio" style="padding:10px;border:1px solid #fff;display:block;text-align:center;margin:0 auto;margin-top:-30px;margin-bottom:20px;color:#fff;width:80%">Все наши работы</a>
            <div class="owl-carousel content-carousel content-slider">
                <div class="item">
                    <div class="container">
                        <div class="row">
   <h5>Ванная комната</h5>

<div class="grid">
  <div class="grid-sizer"></div>
  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_1.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_1.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Оптимальные решения</h5>
                                        <p class="white">Максимум комфорта</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>
  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_1.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_1.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Изысканные формы</h5>
                                        <p class="white">Оптимальные сочетания</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>


   <div class="grid-item">
    <p style="padding:30px;">Вы будете удивлены, насколько увеличится простор для воплощения дизайнерских решений с применением искусственного камня ekalan. Самые обыденные вещи, такие как подоконники, арочные проемы, колонны, полки, обшивка стен, плинтусы, выполненные из ekalan, сделают Вашу квартиру абсолютно неповторимой.</p>
  </div>
  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_2.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_2.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Изысканные формы</h5>
                                        <p class="white">Оптимальные сочетания</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>
  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_3.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_3.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Природные краски</h5>
                                        <p class="white">Космические технологии</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>
  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_4.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_4.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Изысканные формы</h5>
                                        <p class="white">Оптимальные сочетания</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>


</div>

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
   <h5>Непревзойденный комфорт</h5>

<div class="grid">
  <div class="grid-sizer"></div>
     <div class="grid-item" style="padding:30px;">
    <p >Вы будете удивлены, насколько увеличится простор для воплощения дизайнерских решений с применением искусственного камня ekalan. Самые обыденные вещи, такие как подоконники, арочные проемы, колонны, полки, обшивка стен, плинтусы, выполненные из ekalan, сделают Вашу квартиру абсолютно неповторимой.</p>
      <p>Подоконники, арочные проемы, колонны, полки, обшивка стен, плинтусы, выполненные из ekalan, сделают Вашу квартиру абсолютно неповторимой.</p>
  </div>
  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_5.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_5.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Изысканные формы</h5>
                                        <p class="white">Оптимальные сочетания</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>
  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_6.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_6.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Изысканные формы</h5>
                                        <p class="white">Оптимальные сочетания</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>
  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_7.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_7.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Изысканные формы</h5>
                                        <p class="white">Оптимальные сочетания</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>
  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_8.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_8.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Изысканные формы</h5>
                                        <p class="white">Оптимальные сочетания</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>
  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_9.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_9.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Изысканные формы</h5>
                                        <p class="white">Оптимальные сочетания</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>

</div>


                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
    <h5>Гостинная</h5>

<div class="grid">
  <div class="grid-sizer"></div>

  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_10.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_5.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Изысканные формы</h5>
                                        <p class="white">Оптимальные сочетания</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>
  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_11.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_6.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Изысканные формы</h5>
                                        <p class="white">Оптимальные сочетания</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>
        <div class="grid-item" style="padding:30px;">
    <p >Самые обыденные вещи, такие как подоконники, арочные проемы, колонны, полки, обшивка стен, плинтусы, выполненные из ekalan, сделают Вашу квартиру абсолютно неповторимой.Вы будете удивлены, насколько увеличится простор для воплощения дизайнерских решений с применением искусственного камня ekalan.</p>
      <p>Подоконники, арочные проемы, колонны, полки, обшивка стен, плинтусы, выполненные из ekalan, сделают Вашу квартиру абсолютно неповторимой.</p>
  </div>
  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_12.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_7.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Изысканные формы</h5>
                                        <p class="white">Оптимальные сочетания</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>
  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_13.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_8.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Изысканные формы</h5>
                                        <p class="white">Оптимальные сочетания</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>
  <div class="grid-item item-box">
                         
                            <a class="cbox-gallary1" href="assets/application/img/pic/k_14.jpg" title="Черное и белое">
                                <img class="item-container" src="assets/application/img/pic/k_9.jpg" alt="1" />
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Изысканные формы</h5>
                                        <p class="white">Оптимальные сочетания</p>
                                    </div>
                                </div>
                            </a>
                     
  </div>

                        </div>
                    </div>
                </div>
            </div>
 
        </section>

              
        <!-- End Contain Slider Section -->


        <!-- Social Section -->
        <section id="contacts" class="gray-bg ptb ptb-sm-80">
            <div class="container text-center">

                <div class="spacer-60"></div>
                <div class="row">

                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                {#    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.9236866638394!2d30.62923701599817!3d50.40525979850073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c5a9263ac0f9%3A0x34dc59578fb237ac!2z0L_RgNC-0YHQvy4g0J_QtdGC0YDQsCDQk9GA0LjQs9C-0YDQtdC90LrQsCwgMjMsIDcxLCDQmtC40ZfQsiwg0KPQutGA0LDQuNC90LA!5e0!3m2!1sru!2s!4v1453455068322" width="100%" height="350px" frameborder="0" style="border:0" allowfullscreen></iframe>
                  #}</div>


                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 addr">
                   
                    <p>
                          <span><i class="ion ion-ios-location"></i></span>
                          Киев,<br />
                          ЖК "АБРИКОС",<br />
                          проспект Петра Григоренко, 23/71
                    </p>
                    <p>  <span><i class="ion ion-ios-telephone"></i></span>
                           (044) 501-92-18<br />
                           (067) 230-26-20
                      </p>
                       <a href="mailto:alanbud@optima.com.ua"><span><i class="ion ion-ios-email"></i></span>alanbud@optima.com.ua</a><br />
    
                       <a href="#" class="order_call">Заказать звонок</a>
                  </div>  


                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <!-- Contact FORM -->
                        <form class="contact-form" id="contact" role="form">

                            <!-- IF MAIL SENT SUCCESSFULLY -->
                            <h6 class="successContent">
                                <i class="fa fa-check left" style="color: #5cb45d;"></i>Your message has been sent successfully.
                            </h6>
                            <!-- END IF MAIL SENT SUCCESSFULLY -->

                            <!-- MAIL SENDING UNSUCCESSFULL -->
                            <h6 class="errorContent">
                                <i class="fa fa-exclamation-circle left" style="color: #e1534f;"></i>Возникли проблемы при отправке формы!
                            </h6>
                            <!-- END MAIL SENDING UNSUCCESSFULL -->

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-name" type="text" name="form-name" placeholder="Ваше имя" required>
                            </div>

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-email" type="email" name="form-email" placeholder="Электронная почта" required>
                            </div>

                            <div class="form-field-wrapper">
                                <input class="input-sm form-full" id="form-subject" type="text" name="form-subject" placeholder="Тема">
                            </div>

                            <div class="form-field-wrapper">
                                <textarea class="form-full" id="form-message" rows="7" name="form-message" placeholder="Сообщение" required></textarea>
                            </div>

                            <button class="btn btn-md btn-black form-full" type="submit" id="form-submit" name="submit">Отправить сообщение</button>
                        </form>
                        <!-- END Contact FORM -->
                    </div>
                </div><!--  **************************************  -->
            </div>
        </section>
        <!-- End Social Section -->



        <hr />




        <!-- END CONTENT ---------------------------------------------------------------------------->

        <!-- FOOTER -->
        <footer class="footer pt-80">

            <!-- Copyright Bar -->
            <section class="copyright pb-60">
                <div class="container">
                    <p class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        &copy; 2016 <a><b>ekalan®</b></a>.
                    </p>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 socials">
                        <ul>
                            <li>
 
                                <a class="link" target="_blank" href="https://www.twitter.com/"><i class="ion ion-social-twitter"></i></a>
                            </li>
                            <li>
 
                                <h6><a class="link" target="_blank" href="https://www.facebook.com/"><i class="ion ion-social-facebook"></i></a></h6>
                            </li>
                            <li>

                                <h6><a class="link" target="_blank" href="https://plus.google.com/"><i class="ion ion-social-googleplus"></i></a></h6>
                            </li>
                            <li>

                                <h6><a class="link" target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></h6>
                            </li>
                        </ul>
                    </div>

                </div>
            </section>
            <!-- End Copyright Bar -->

        </footer>
        <!-- END FOOTER -->

        <!-- Scroll Top -->
        <a class="scroll-top">
            <i class="fa fa-angle-double-up"></i>
        </a>
        <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->
    
{% endblock content %}


