 
{% extends 'layout/portfolio.twig' %}


{% block content %}


        <!-- Work Detail Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <!-- work Filter -->
                <div class="row">
                    <ul class="container-filter categories-filter">
                        <li><a class="categories active" data-filter="*">Все</a></li>
                        <li><a class="categories" data-filter=".kitchen">Кухня</a></li>
                        <li><a class="categories" data-filter=".bath">Ванная комната</a></li>
                        <li><a class="categories" data-filter=".livingroom">Гостинная</a></li>
                        <li><a class="categories" data-filter=".office">Офис</a></li>
                    </ul>
                </div>
                <!-- End work Filter -->
                <div class="row container-grid nf-col-2">

                    <div class="nf-item kitchen spacing">
                        <div class="item-box">
                            <a href="#">
                                <img alt="1" src="img/pic/k_1.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Consequat massa quis</h5>
                                        <p class="white">Branding, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item bath spacing">
                        <div class="item-box">
                            <a href="#">
                                <img alt="1" src="img/pic/k_2.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Bookmarksgrove right at</h5>
                                        <p class="white">Branding, Design, Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item livingroom spacing">
                        <div class="item-box">
                            <a href="#">
                                <img alt="1" src="img/pic/k_3.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">A small river named</h5>
                                        <p class="white">Branding, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>



                    <div class="nf-item kitchen spacing">
                        <div class="item-box">
                            <a href="#">
                                <img alt="1" src="img/pic/k_4.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Rethoric question ran over</h5>
                                        <p class="white">Branding, Design, Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item livingroom spacing">
                        <div class="item-box">
                            <a href="#">
                                <img alt="1" src="img/pic/k_5.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Because there were thousands</h5>
                                        <p class="white">Branding, Design, Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item kitchen spacing">
                        <div class="item-box">
                            <a href="#">
                                <img alt="1" src="img/pic/k_6.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Ran over her cheek</h5>
                                        <p class="white">Branding, Slider</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item livingroom spacing">
                        <div class="item-box">
                            <a href="#">
                                <img alt="1" src="img/pic/k_7.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Oxmox advised her</h5>
                                        <p class="white">Branding, Video</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item bath spacing">
                        <div class="item-box">
                            <a href="#">
                                <img alt="1" src="img/pic/k_8.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Subline of her own road</h5>
                                        <p class="white">Branding, Youtube</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item office spacing">
                        <div class="item-box">
                            <a href="#">
                                <img alt="1" src="img/pic/k_9.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">But the Little Blind</h5>
                                        <p class="white">Branding, Vimeo</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item bath spacing">
                        <div class="item-box">
                            <a href="#">
                                <img alt="1" src="img/pic/k_10.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Even the all-powerful</h5>
                                        <p class="white">Branding, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item office spacing">
                        <div class="item-box">
                            <a href="#">
                                <img alt="1" src="img/pic/k_11.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">Italic Mountains</h5>
                                        <p class="white">Branding, Coffee</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item bath spacing">
                        <div class="item-box">
                            <a href="#">
                                <img alt="1" src="img/pic/k_12.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">control about the blind</h5>
                                        <p class="white">Branding, Design</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="nf-item office spacing">
                        <div class="item-box">
                            <a href="#">
                                <img alt="1" src="img/pic/k_13.jpg" class="item-container">
                                <div class="item-mask">
                                    <div class="item-caption">
                                        <h5 class="white">The Big Oxmox advised</h5>
                                        <p class="white">Branding, Slider</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </section>
        <!-- End Work Detail Section -->


        <!-- End CONTENT ------------------------------------------------------------------------------>
    
{% endblock content %}


